* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    display: flex;
    flex-direction: row;
    gap: 1em;
    height: calc(100vh - 60px);
    position: relative;
}

.left,
.right {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-width: 0;
    border-radius: 5px;
    border: 1px solid #ddd;
    padding: 12px;
    height: 100%;
    position: relative;

}

.bn-block-column {
    border: 1px solid #eee;
}

.item {
    border-radius: 0.5rem;
    flex: 1;
    overflow: hidden;
}

.item.bordered {
    /* border: 1px solid gray; */
}

.item pre {
    border-radius: 0.5rem;
    height: 100%;
    overflow: auto;
    padding-block: 1rem;
    padding-inline: 54px;
    width: 100%;
    white-space: pre-wrap;
}